body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.project-container{
  margin: 5px;
  border: 1px solid black;
}


.field-container{
  width: 100%;
}

.field-container .title-content{
  font-weight: bold;
}

.field-container .value-content{

}



.center{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


button{
  margin: 5px;
}
